/*====================================
			Footer -
====================================*/
.footer {
	background: #fff url("../images/footer/plat.jpg") repeat-x;
	border-top:14px solid #45d8f4;
	padding-top: 16px;
	text-align: center;
}
.footer-main {
	/* background:rgba(122,122,122,.3); */
	padding-top:29px;
	padding-bottom: 55px;
	width: 100%;
}
.footer-main >div {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
}
.footer-main .tittle {
	font-size: 22px;
	margin-bottom: 26px;
	color:#45d8f4;
	font-weight: 400;
	letter-spacing: 4px;
	text-align: left;
}
.footer-main p {
	font-size: 16px;
	margin-bottom: 15px;
	color:#795d51;
	letter-spacing: 1.5px;
	text-align: left;
}
.footer-main p.light {
	font-weight:300;
}
.common-all {
    float: left;
}
/*------------*/
.store-star {
	margin-right: 60px;
}
.store-star .letter-spacing {
	padding-right: 14px;
}
/*------------*/


/*------------*/
.store-common .letter-spacing {
	padding-right: 20px;
}
.store-common .letter-spacing-2 {
	padding-right: 13px;
}
.store-common .group {
	margin-right: 38px;
	float: left;
	/* margin-left: 20px; */
}
.store-common .group:last-child {
	margin-right: 0;
}
.store-common .group.long {
	margin-right: 58px;
}
.store-common span.del-pad {
	margin-left: -12px;
}
/*------------*/


.info {
	text-align: center;
}
.info p {
	font-size: 22px;
	color:#45d8f4;
	letter-spacing: 3px;
	text-align: center;
}
.info a{color:#45d8f4;}
.info p:first-child {
	margin-bottom: 10px;
}
.info p:nth-child(2) {
    margin-bottom: 15px;
}
.info .icon {
	text-align: center;
}
.info  .icon a {
	width: 37px;
	height: 37px;
	margin-right: 11px;
	display: inline-block;
	font-size: 0;
}
.info  .icon a:last-child {
	margin-right: 0;
}

/*====================================
			Footer .
====================================*/
@media screen and ( max-width: 1300px ){
	.footer {
		border-width: 8px;
	}
	.footer {
		text-align: left;
	}
	.footer-main {
		width: 85%;
		margin: 0 auto;
		padding-left:0;
		padding-right: 0;
		padding-top: 5%;
		padding-bottom: 6%;
	}
	.store-common .group {
		margin-right: 0;
	}
	.store-common .group.long {
		float: right;
	}
	.store-star {
		margin-right: 0;
		margin-bottom: 28px;
	}
	.store-common .group.long {
		margin-right: 0;
	}
	.footer-main >div {
		display: block;
		padding-bottom: 6%;
		border-bottom: 1px solid #e4e4e4;
	}
	.info p {
		text-align: left;
	}
	.info .icon {
		text-align: left;
		display: block;
	}
	.info p:first-child,
	.info p:nth-child(2) {
		margin-bottom: 20px;
	}
	.footer-main p:last-child {
		margin-bottom: 0;
	}

	.info .icon a {
		margin-right: 28px;
	}
	
	}
	
	@media screen and ( max-width: 900px ){
		.store-common .group {
		width: 50%;
	}
	.store-common >.group {
		width: auto;
		float: left !important;
	}
	
		.footer-main p:last-child {
		margin-bottom: 15px;
	}
	.footer-main >div:last-child {
		border:none;
	}}
	
	@media screen and ( max-width: 670px ){
			.store-common .group {
		width:100%;
	}
		.footer-main p:last-child {
		margin-bottom: 15px;
	}}
	
	@media (max-width: 414px) {.info{text-align:left}
.info>p{ display:inline-block; }
.info>p:nth-of-type(1){ padding-right:10px}
.info .icon a {

    margin-right: 15px;

} }
@media (max-width: 375px) {.info p{letter-spacing: 1px;}}
	
	@media (max-width: 320px) {
		.info p {

    letter-spacing: 0px;

}
		.info > p{font-size:20px!important}
		.footer-main .tittle{

    font-size: 16px;

} }