.kvSection {
    background-color: #050e2a;
    .kv {
        width: 100%;
        position: relative;
        .kv-cta {
            position: fixed;
            right: 0;
            top: 21%;
            width: 5%;
            max-width: 81px;
            z-index: 2;
            .cta-btn {
                display: block;
                opacity: 1;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .kvbottom {
            position: absolute;
            left: 27.6%;
            top: 67.5%;
            width: 18%;
            max-width: 345px;
            a {
                display: block;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .kv-pc_w {
            display: block;
        }
        .kv-pc {
            display: none;
        }
        .kv-mb {
            display: none;
        }
    }
    .kv-form {
        background: url('../images/kvbg-pc_w.jpg') no-repeat top center;
        background-size: 100%;
        background-color: #050e2a;
        margin: 0 auto;
        padding: 0 2.5rem 180px; //180px為背景下方調整
        position: relative;
        z-index: 1;
        .kv-formwrap {
            max-width: 930px;
            margin: 0 auto;
            padding: 25px;
            box-shadow: 0px 0px 68px 0px rgba(0, 8, 36, 1);
        }
        .kv-gift {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            .kv-giftbox {
                // position: relative;
                background: rgba(255, 255, 255, 0.1);
                padding: 30px 15px;
                font-family: '微軟正黑體';
                font-family: '微軟正黑體' \0; //for ie
                font-size: 28px;
                color: #fff;
                .giftbox_title {
                    font-size: 28px;
                    line-height: 28px;

                    span {
                        color: #d6c5ff;
                        font-weight: bold;
                        border: 1px solid #d6c5ff;
                        padding: 2px 5px;
                        margin: 0 2px;
                    }
                }
            }
        }
        .kv-giftbox_01 {
            width: 54.5%;
            text-align: center;
        }
        .kv-giftbox_02 {
            width: 43.2%;
            position: relative;
            text-align: left;
            .gift_philia {
                position: absolute;
                right: -25px;
                bottom: -20px;
                width: 32%;
            }
        }
    }
}

@media screen and (max-width: 1600px) {
    .kvSection {
        .kv {
            .kv-pc_w {
                display: none;
            }
            .kv-pc {
                display: block;
            }
        }
        .kv-form {
            background: url('../images/kvbg-pc.jpg') no-repeat top center;
            background-size: 100%;
        }
    }
}
@media screen and (max-width: 1440px) {
    .kvSection {
        .kv-form {
            .kv-gift {
                .kv-giftbox {
                    font-size: 24px;
                    .giftbox_title {
                        font-size: 28px;
                    }
                    .giftbox_line {
                        .cont {
                            .note {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1024px) {
    .kvSection {
        .kv-form {
            .kv-gift {
                .kv-giftbox {
                    font-size: 20px;
                    padding: 20px;
                    .giftbox_title {
                        font-size: 24px;
                    }
                    .giftbox_line {
                        .cont {
                            .note {
                                font-size: 14px;
                            }
                        }
                    }
                }
                .kv-giftbox_01 {
                    .giftbox_line {
                        .label {
                            flex: 0 0 65px;
                        }
                    }
                }
                .kv-giftbox_02 {
                    .giftbox_line {
                        .label {
                            flex: 0 0 40px;
                        }
                    }
                }
            }
        }
    }
}
// mobile layout
@media screen and (max-width: 768px) {
    .kvSection {
        .kv {
            .kv-cta {
                position: fixed;
                right: 0;
                top: 16%;
                width: 16%;
                max-width: 60px;
            }
            .kvbottom {
                display: none;
            }
            .kv-pc_w {
                display: none;
            }
            .kv-pc {
                display: none;
            }
            .kv-mb {
                display: block;
            }
        }
        .kv-form {
            background: url('../images/kvbg-mb.jpg') no-repeat top center;
            background-color: #051439;
            background-size: 100%;
            margin: 0 auto;
            padding: 0 1.2rem 50px;
            .kv-formwrap {
                box-shadow: 0px 0px 25px 0px rgba(0, 8, 36, 1);
                padding: 20px;
            }
            .kv-gift {
                flex-wrap: wrap;
                margin: 0 auto;
                .kv-giftbox_01 {
                    text-align: left;
                    line-height: 18px;
                }
                .kv-giftbox {
                    width: 100%;
                    font-family: '微軟正黑體';
                    font-family: '微軟正黑體' \0; //for ie
                    font-size: 18px;
                    padding: 15px;
                    margin: 0 auto 20px;

                    .giftbox_title {
                        font-size: 22px;
                        padding: 10px 0;
                    }
                    .giftbox_line {
                        .note {
                            font-size: 14px;
                        }
                    }
                    .gift_philia {
                        position: absolute;
                        right: 50px;
                        bottom: -10px;
                        width: 20%;
                    }
                }
            }
        }
    }
}
// iphone XS Max, Plus
@media screen and (max-width: 414px) {
    .kvSection {
        .kv-form {
            .kv-gift {
                .kv-giftbox {
                    .giftbox_title {
                        font-size: 20px;
                    }
                    .gift_philia {
                        position: absolute;
                        right: 10px;
                        bottom: -10px;
                        width: 30%;
                    }
                }
            }
        }
    }
}
// iphone XS, iphone X
@media screen and (max-width: 375px) {
    .kvSection {
        .kv-form {
            .kv-gift {
                .kv-giftbox {
                    .giftbox_title {
                        font-size: 17.5px;
                    }
                }
            }
        }
    }
}

.kv-formbox {
    .form-content {
        background: rgba(255, 255, 255, 0.1);
        padding: 50px 60px 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 18px;
        letter-spacing: 0.05em;
        color: #fff;
        margin: 0 0 25px;
        .needsWrap {
            font-family: '微軟正黑體';
            width: 100%;
            text-align: center;
            margin: 0 0 20px;
            .checkWrap {
                display: inline-block;
                margin: 0 22px 0 0;
            }
        }
        .form-column {
            font-family: '微軟正黑體';
            width: 48%;
            margin: 0 0 20px;
            input {
                appearance: none;
                border: 0;
                border-radius: 0;
                border-bottom: 1px solid rgba(214, 197, 255, 0.5);
                background: #111845;
                color: #fff;
                width: 100%;
                font-size: 18px;
                letter-spacing: 0.05em;
                line-height: 40px;
                padding: 0 10px;
                &::placeholder {
                    color: #fff;
                }
                &:hover {
                    border-bottom: 1px solid rgba(214, 197, 255, 1);
                }
                &:focus {
                    border-bottom: 1px solid rgba(214, 197, 255, 1);
                }
            }
            select {
                appearance: none;
                border: 0;
                border-radius: 0;
                border-bottom: 1px solid rgba(214, 197, 255, 0.5);
                background: url('../images/arrow.png') no-repeat right 15px center #111845;
                background-size: 10px;
                color: #fff;
                width: 100%;
                font-size: 18px;
                letter-spacing: 0.05em;
                line-height: 40px;
                padding: 0 10px;
                &::placeholder {
                    color: #fff;
                }
                &:hover {
                    border-bottom: 1px solid rgba(214, 197, 255, 1);
                }
                &:focus {
                    border-bottom: 1px solid rgba(214, 197, 255, 1);
                }
            }
            select,
            input {
                font-family: 'KozGoPro', 'Noto Sans TC', 'Source Sans Pro', 'Microsoft JhengHei',
                    '微軟正黑體', sans-serif;
                font-family: '微軟正黑體' \0; //for ie
            }
        }
        .privacyWrap {
            width: 100%;
            font-family: '微軟正黑體';
            a {
                color: #fff;
                text-decoration: underline;
                &:hover {
                    color: #d6c5ff;
                }
            }
        }
    }
    .form-btn {
        text-align: center;
        .btn_send {
            display: block;
            margin: 0 auto;
            appearance: none;
            border: 0;
            border-radius: 0;
            background: url('../images/btn-bg.jpg') no-repeat center;
            background-size: 100%;
            color: #0a153e;
            padding: 20px 0;
            width: 100%;
            max-width: 274px;
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 0.2em;
            position: relative;
            transition: all 1s linear;
            text-decoration: none;
            opacity: 1;
            &:hover {
                background: url('../images/btn-bg.jpg') no-repeat center;
                background-size: 100%;
                transition: all 1s linear;
                opacity: 0.8;
            }
        }
    }
}
.checkWrap {
    [type='checkbox']:not(:checked),
    [type='checkbox']:checked {
        position: absolute;
        left: -9999px;
        visibility: hidden;
    }
    [type='checkbox'] + label {
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        display: inline-block;
        height: 25px;
        line-height: 25px;
    }
    [type='checkbox'] + label:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        z-index: 0;
        border: 1px solid #d6c5ff;
        border-radius: 1px;
        margin-top: 1px;
        transition: 0.2s;
    }
    [type='checkbox']:not(:checked):disabled + label:before {
        border: none;
        background-color: rgba(0, 0, 0, 0.26);
    }
    [type='checkbox']:checked + label:before {
        top: -4px;
        left: -3px;
        width: 12px;
        height: 22px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid #d6c5ff;
        border-bottom: 2px solid #d6c5ff;
        transform: rotate(40deg);
        transform-origin: 100% 100%;
    }
    [type='checkbox']:checked:disabled + label:before {
        border-right: 2px solid rgba(0, 0, 0, 0.26);
        border-bottom: 2px solid rgba(0, 0, 0, 0.26);
    }
    [type='checkbox'].filled-in + label:after {
        border-radius: 2px;
    }
    [type='checkbox'].filled-in + label:before,
    [type='checkbox'].filled-in + label:after {
        content: '';
        left: 0;
        position: absolute;
        transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s, height 0.2s 0.1s,
            top 0.2s 0.1s, left 0.2s 0.1s;
        z-index: 1;
    }
    [type='checkbox'].filled-in:not(:checked) + label:before {
        width: 0;
        height: 0;
        border: 3px solid transparent;
        top: 10px;
        left: 6px;
        transform: rotateZ(37deg);
        transform-origin: 100% 100%;
    }
    [type='checkbox'].filled-in:not(:checked) + label:after {
        width: 20px;
        height: 20px;
        background-color: transparent;
        border: 1px solid #d6c5ff;
        top: 0px;
        z-index: 0;
    }
    [type='checkbox'].filled-in:checked + label:before {
        top: 2px;
        left: 2px;
        width: 8px;
        height: 13px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
        border-right: 2px solid #d6c5ff;
        border-bottom: 2px solid #d6c5ff;
        transform: rotateZ(37deg);
        transform-origin: 100% 100%;
    }
    [type='checkbox'].filled-in:checked + label:after {
        top: 0px;
        width: 20px;
        height: 20px;
        border: 1px solid #d6c5ff;
        z-index: 0;
    }
    [type='checkbox'].filled-in:disabled:not(:checked) + label:before {
        background-color: transparent;
        border: 1px solid transparent;
    }
    [type='checkbox'].filled-in:disabled:not(:checked) + label:after {
        border-color: transparent;
        background-color: #bdbdbd;
    }
    [type='checkbox'].filled-in:disabled:checked + label:before {
        background-color: transparent;
    }
    [type='checkbox'].filled-in:disabled:checked + label:after {
        background-color: #bdbdbd;
        border-color: #bdbdbd;
    }
}
@media screen and (max-width: 1024px) {
    .kv-formbox {
        .form-content {
            padding: 40px 30px 30px;
        }
    }
}
@media screen and (max-width: 640px) {
    .kv-formbox {
        .form-content {
            padding: 15px;
            font-size: 16px;
            margin: 0 0 25px;
            .needsWrap {
                margin: 0;
                text-align: left;
                .checkWrap {
                    display: inline-block;
                    margin: 0 10px 10px 0;
                }
            }
            .form-column {
                width: 100%;
                margin: 0 0 10px;
                input {
                    padding-left: 5%;
                    font-size: 16px;
                    line-height: 50px;
                }
                select {
                    padding-left: 5%;
                    font-size: 16px;
                    line-height: 50px;
                }
            }
            .privacyWrap {
                font-size: 12px;
                font-family: KozGoProLight, '微軟正黑體';
                font-family: '微軟正黑體' \0; //for ie
            }
        }
        .form-btn {
            .btn_send {
                padding: 12px 0;
                max-width: 180px;
                font-size: 18px;
                &:after {
                    width: 1px;
                    height: 26px;
                    left: 0;
                    right: 0;
                    bottom: -13px;
                }
            }
        }
    }
    .checkWrap {
        [type='checkbox'] + label {
            padding-left: 25px;
        }
        [type='checkbox'].filled-in:not(:checked) + label:after {
            width: 15px;
            height: 15px;
            top: 3px;
        }
        [type='checkbox'].filled-in:checked + label:after {
            top: 3px;
            width: 15px;
            height: 15px;
        }
        [type='checkbox'].filled-in:checked + label:before {
            top: 5px;
            width: 6px;
            height: 9px;
        }
    }
}

@media screen and (max-width: 414px) {
    .kv-formbox {
        .form-content {
            .needsWrap {
                .checkWrap {
                }
            }
            .form-column {
                input {
                    line-height: 50px;
                }
                select {
                    line-height: 50px;
                }
            }
            .privacyWrap {
                label {
                    line-height: 1.25;
                }
            }
        }
    }
    .checkWrap {
        [type='checkbox'] + label {
            padding-left: 25px;
        }
        [type='checkbox'].filled-in:not(:checked) + label:after {
            width: 15px;
            height: 15px;
            top: 3px;
        }
        [type='checkbox'].filled-in:checked + label:after {
            top: 3px;
            width: 15px;
            height: 15px;
        }
        [type='checkbox'].filled-in:checked + label:before {
            top: 5px;
            width: 6px;
            height: 9px;
        }
    }
}

// popup

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.9);
}
.modal-backdrop.in {
    opacity: 0.9;
}
.modal-content {
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}
.modal-dialog {
    width: 100%;
    max-width: 841px;
    margin: 70px auto;
}
.modal-body {
    position: relative;
    padding: 0;
    border: #e4cda4 2px solid;
    font-family: 'Microsoft JhengHei', '微軟正黑體';

    button.close {
        position: absolute;
        top: -2px;
        right: -2px;
        background: url('../images/btn-close.jpg') no-repeat center;
        width: 40px;
        height: 40px;
        opacity: 1;
        transition: all 0.3s;
        span {
            opacity: 0;
        }
        &:hover {
            opacity: 0.8;
            transition: all 0.3s;
        }
    }
    .vipModalWrap {
        padding: 100px 66px 50px;
        background-color: #000;
        text-align: center;
        h1 {
            color: #e4cda4;
            font-size: 30px;
            font-weight: bold;
        }
        h3 {
            font-size: 25px;
            color: #fcfcfc;
            padding-bottom: 33px;
        }
        p {
            color: #fcfcfc;
            line-height: 1.8;
            text-align: left;
        }
        .popup-bar {
            padding: 33px 0;
        }
        span {
            color: #fcfcfc;
            line-height: 1.8;
            display: inline-block; //解決padding-top失效
            padding: 33px 0;
        }
        a {
            text-decoration: none;
            img {
                padding: 10px 0;
            }
        }
    }
}
@media screen and (max-width: 640px) {
    .modal-body {
        max-width: 700px;
        margin: 50px 1.2rem;
        .vipModalWrap {
            padding-left: 2.8rem;
            padding-right: 2.8rem;
        }
    }
}

@media screen and (max-width: 414px) {
    .modal-body {
        .vipModalWrap {
            padding: 50px 2.8rem;
        }
    }
}

@media screen and (max-width: 375px) {
    .modal-body {
        .vipModalWrap {
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}
