.vipSection {
    background: url('../images/vipBg-pc_w.jpg') no-repeat top center;
    font-family: 'Microsoft JhengHei', '微軟正黑體';
    .vip-container {
        max-width: 1024px;
        margin: 0 auto;
        .sec-title {
            padding: 224px 0 110px;

            .title-pc {
                display: block;
            }
            .title-mb {
                display: none;
            }
        }
        .vip-content {
            .swiper-wrapper {
                a {
                    display: block;
                    width: 413px;
                    text-decoration: none;
                    .vip-img {
                        max-width: 413px;
                    }
                    .vip-text {
                        .name {
                            color: #c3ab7f;
                            font-size: 30px;
                            padding-bottom: 27px;
                        }
                        .contentWrapper {
                            font-size: 20px;
                            border-left: #ffffff 1px solid;
                            padding:0 20px;
                            p {
                                color: #ffffff;
                                line-height: 30px;
                                padding-bottom: 20px;
                            }
                            span {
                                color: #c3ab7f;
                                font-family: Futura;
                            }
                        }
                    }
                }
            }
        }
    }
}
