.vipSection {
    background: url('../images/vipBg-pc_w.jpg') no-repeat top center;
    font-family: 'Microsoft JhengHei', '微軟正黑體';
    padding-bottom: 140px;
    .title-pc {
        display: block;
    }
    .title-mb {
        display: none;
    }
    .vipContainer {
        .sec-title {
            padding: 224px 0 110px;
            max-width: 1092px;
            margin: 0 auto;
        }
        /*
        .owl-carousel {
            .item {
                width: 85%;
                margin: 0 auto;
                cursor: pointer;
                a {
                    text-decoration: none;

                    .vip-img {
                        img {
                            @include box-shadow;
                            margin: 50px 0;
                            -webkit-transition: 500ms;
                            -o-transition: 500ms;
                            transition: 500ms;
                            &:hover {
                                -webkit-transition: 500ms;
                                -o-transition: 500ms;
                                transition: 500ms;
                                -webkit-transform: scale(0.95);
                                text-decoration: none;
                            }
                        }
                    }
                    .vip-text {
                        .name {
                            color: #c3ab7f;
                            font-size: 30px;
                            padding: 47px 0 27px 0;
                        }
                        .contentWrapper {
                            font-size: 20px;
                            border-left: #ffffff 1px solid;
                            padding-left: 20px;
                            p {
                                display: block;
                                width: 100%;
                                color: #ffffff;
                                line-height: 30px;
                                margin-bottom: 20px;

                                overflow: hidden;
                                text-overflow: ellipsis;
                                display: -webkit-box;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                            span {
                                color: #c3ab7f;
                                font-family: Futura;
                            }
                        }
                    }
                }
            }
            .owl-item {
                -webkit-transform: scale(0.7);
                -webkit-transition: 500ms;
                -o-transition: 500ms;
                transition: 500ms;

                .vip-text {
                    display: none; //文字只有中間會顯示
                }
            }
            .center {
                -webkit-transform: scale(1);
                -webkit-transition: 500ms;
                -o-transition: 500ms;
                transition: 500ms;
                .vip-text {
                    display: block !important; //文字只有中間會顯示
                }
            }
            .owl-nav {
                margin: -140px 10% 0;
                position: relative;
                display: flex;
                justify-content: space-between;
            }
        }
        */
    }
}

.vip-item img {
    width: 85%;
    margin: 50px 0;
}

.vip-item .owl-item {
    -webkit-transform: scale(0.7);
    -webkit-transition: 500ms;
    transition: 500ms;

    .vip-text {
        display: none; //文字只有中間會顯示
    }
}

.vip-item .center {
    -webkit-transform: scale(1);
    -webkit-transition: 500ms;
    transition: 500ms;
    .vip-text {
        display: block !important; //文字只有中間會顯示
    }
}

.vip-item .owl-nav {
    margin: -140px 10% 0;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.vip-item .owl-dots {
    display: none;
}

.vip-item img {
    -webkit-transition: 500ms;
    transition: 500ms;
    &:hover {
        -webkit-transition: 500ms;
        transition: 500ms;
        -webkit-transform: scale(0.95);
    }
}

.vip-item {
    .item {
        margin: 0 auto;
        cursor: pointer;
        a {
            text-decoration: none;

            .vip-img {
                img {
                    @include box-shadow;
                }
            }
            .vip-text {
                .name {
                    color: #c3ab7f;
                    font-size: 30px;
                    padding: 47px 0 27px 0;
                }
                .contentWrapper {
                    font-size: 20px;
                    border-left: #ffffff 1px solid;
                    padding-left: 20px;
                    p {
                        display: block;
                        width: 100%;
                        color: #ffffff;
                        line-height: 30px;
                        margin-bottom: 20px;
                        // 收起文字
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                    span {
                        color: #c3ab7f;
                        font-family: Futura;
                    }
                }
            }
        }
    }
}

// mobile layout
@media screen and (max-width: 640px) {
    .vipSection {
        background: url('../images/vipBg-mb.jpg') no-repeat top center;
        .vipContainer {
            .title-pc {
                display: none;
            }
            .title-mb {
                display: block;
            }
            .sec-title {
                margin: 0 auto;
                padding: $sec-title-padding-640;
            }
        }
    }

    .vip-item img {
        margin: 50px 0;
    }

    .vip-item .owl-item {
        // -webkit-transform: scale(0.7);
        // -webkit-transition: 500ms;
        // -o-transition: 500ms;
        // transition: 500ms;

        .vip-text {
            display: none; //文字只有中間會顯示
        }
    }

    .vip-item .owl-nav {
        margin: -250px auto 0;
        max-width: 500px;
    }

    .vip-item {
        .item {
            width: 50%;
            margin: 0 auto;
            padding-bottom: 120px;
            a {
                .vip-text {
                    .name {
                        padding: 0 0 27px 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 414px) {
    .vipSection {
        .vipContainer {
            .sec-title {
                padding: $sec-title-padding-414;
            }
        }
    }
    .vip-item img {
        margin: 25px 0;
    }

    .vip-item .owl-nav {
        margin: -320px auto 0;
        max-width: 500px;
    }

    .vip-item {
        .item {
            width: 60%;
            padding-bottom: 220px;
            a {
                .vip-text {
                    .name {
                        font-size: 25px;
                        padding: 0 0 27px 0;
                    }
                    .contentWrapper {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .vipSection {
        .vipContainer {
            .sec-title {
                padding: $sec-title-padding-375;
            }
        }
    }
}
