@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

@font-face {
    font-family: FuturaLight;
    src: url('../font/FtraLt.ttf');
}
@font-face {
    font-family: Futura;
    src: url('../font/Futura.ttc');
}